{% extends 'base.html.twig' %}

{% block body %}
    <h1>coucou</h1>
    <p>brrkghlrgbor</p>
    <div class="row">
        {% for annonce in annonces %}
            <p>bleu</p>
        {% endfor %}
    </div>
{% endblock %}
