{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {% for annonce in annonces %}
            <h1>{{ annonce.annonce.title }}</h1>
            <p>Prix du lot : {{ annonce.annonce.price }}</p>
            <p>Quantité : {{ annonce.qte }}</p>
            <h6>{{ annonce.annonce.description }}</h6>
        {% endfor %}
    </div>
{% endblock %}
