{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {% for book in books %}
            <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">{{ book.title }}</span>
                        {% if book.authors.count > 0 %}
                            <p>De : </p><br>
                            <ul>
                                {% for author in book.authors %}
                                    <li>{{ author.name }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="card-action">
                        <div class="row">
                            <a href="{{ path('get_one_book', {'id': book.id}) }}" class="col 12">Description du livre</a>
                            <a href="{{ path('annonces_by_book', {'id': book.id}) }}" class="col 12">Voir les annonces</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
